:root {
    --primary-color: #48b2c2;
    --secondary-color: #113237;
    --p-rgba-1: rgba(72, 178, 194, 0.1);
    --p-rgba-2: rgba(71, 178, 194, 0.2);
    --p-rgba-3: rgba(71, 178, 194, 0.3);
    --p-rgba-4: rgba(71, 178, 194, 0.4);
    --p-rgba-5: rgba(71, 178, 194, 0.5);
    --p-rgba-6: rgba(71, 178, 194, 0.6);
    --p-rgba-7: rgba(71, 178, 194, 0.7);
    --p-rgba-8: rgba(71, 178, 194, 0.8);
    --p-rgba-9: rgba(71, 178, 194, 0.9);
    --dark-color: #090909;
    --info-color: #17a2b8;
    --success-color: #4caf50;
    --light-color: #f2f7f9;
    --danger-color: #e74c3c;
    --warning-color: #f39c12;

    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Open Sans', sans-serif;

    --font-size-base: 16px;
    --font-size-lg: 1.25rem;
    --font-size-sm: 0.875rem;
    --font-weight-normal: 400;
    --font-weight-bold: 700;

}

.service_detail-sec {
    padding-top: 150px;
}

.services_nav ul {
    padding-left: 0;
}

.services_nav li:not(:last-of-type) {
    margin-bottom: 5px;
}

.services_nav .serv_nav-item {
    color: #a0a0a0;
    display: block;
    border-radius: 0;
    padding: 15px 20px;
    overflow: hidden;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 1px solid var(--p-rgba-2);
    ;
    transition: all .2s ease-in-out;
}

.services_nav .serv_nav-item:hover,
.services_nav .serv_nav-item.active {
    background-color: var(--secondary-color);
    color: var(--light-color);
}

.serv_nav-item::before {
    content: "\27A4";
    margin-right: 5px;
    transform: translateX(-100%);
    opacity: 0;
    will-change: transform, opacity;
    transition: transform.3s ease-in-out, opacity.3s ease-in-out;
}

.services_nav .serv_nav-item:hover::before,
.services_nav .serv_nav-item.active::before {
    opacity: 1;
    transform: translateX(0);
}

.service_left-info img {
    width: 100%;
    height: 100%;
    max-height: 170px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.service_left-info {
    padding-inline: 0 5px;
    margin-top: 40px;
}

.service_left-info h3 {
    font-size: 20px;
    margin-block: 0 25px;
    background-color: var(--secondary-color);
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.service_details-wrapper {
    padding-inline: 3rem 0;
}

.sec-heading {
    color: #fff;
    font-size: 28px;
    margin-bottom: 15px;
}

.service_details-wrapper .sec-heading.text-sec {
    color: var(--p-rgba-9);
    font-size: 34px;
}

.service_details-wrapper p {
    font-size: 17px;
    color: #ccc;
}

.serv_box {
    margin-bottom: 40px;
}

.sec-subheading {
    color: #f0f0f0;
    font-size: 23px;
    text-transform: uppercase;
    position: relative;
    padding-left: 20px;
    margin-top: 25px;
}

.sec-subheading::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--p-rgba-5);
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.serv_box:has(.sec-subheading) p {
    padding-left: 20px;
}

.serv_box p b {
    color: var(--danger-color);
}

.serv_box ul {
    padding-left: 0;
}

.serv_box.box_4 li::before {
    content: '\263C';
    margin-right: 8px;
    color: var(--primary-color);
}

.serv_box li {
    margin-bottom: 20px;
    font-size: 17px;
    color: #ccc;
}

.serv_box li strong {
    color: var(--primary-color);
    font-weight: 700;
}

.points {
    padding-left: 10px;
}

.points.flexible li {
    margin-right: 20px;
}

.points li::before {
    content: '\2714';
    margin-right: 8px;
    color: var(--primary-color);
}

.notice::before {
    content: '\2699';
    margin-right: 8px;
    color: var(--warning-color);
}

.services-faq .accordion-item {
    border: none;
    border-bottom: 1px solid var(--primary-color);
    background-color: var(--p-rgba-1);
    color: #ccc;
}

.services-faq .accordion-button {
    background-color: var(--p-rgba-6);
    color: var(--light-color);
}

.services-faq .accordion-button:not(.collapsed) {
    color: var(--light-color);
    background-color: var(--secondary-color);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.services-faq .accordion-button::after {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NDggNTEyIj48cGF0aCBmaWxsPSIjZjJmN2Y5IiBkPSJNMjAxLjQgMzc0LjZjMTIuNSAxMi41IDMyLjggMTIuNSA0NS4zIDBsMTYwLTE2MGMxMi41LTEyLjUgMTIuNS0zMi44IDAtNDUuM3MtMzIuOC0xMi41LTQ1LjMgMEwyMjQgMzA2LjdMIDg2LjYgMTY5LjRjLTEyLjUtMTIuNS0zMi44LTEyLjUtNDUuMyAwcy0xMi41IDMyLjggMCA0NS4zbDE2MCAxNjB6Ii8+PC9zdmc+');
}
